// Primary fonts and colors

$font-stack: futura-pt, sans-serif;
$font-stack-bold: futura-pt-bold, sans-serif;
$pixel-blue: #0062ff;
$pixel-blueAccent: #0846f3;
$pixel-darkBlue: #09133c;
$pixel-yellow: #ffc801;
$pixel-black: rgb(26, 26, 26);
$pixel-white: #fff;


// The great reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pixel-white;
    font: 100% $font-stack;
    color: $pixel-black;
    line-height: 1.6;
}

// Heading Style Starts

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

// Heading Style End

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 2rem;
}

h2,
h3,
a {
    color: $pixel-black;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo a,
.main-nav a {
    padding: 10px 1rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: $pixel-black;
    font-size: .99em;
    font-weight: bolder;
}

.main-nav a:hover {
    color: $pixel-blue;
}

.header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: $pixel-white;
    box-shadow: rgb(94 98 119 / 20%) 0 0 20px 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $pixel-white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 1rem;
    font-size: 0.95rem;
}

.dropdown-content a:hover {
    background-color: $pixel-white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: $pixel-black;
    padding: 12px 0.8rem 0px 0.8rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bolder;
}

// Navbar ends

// Content Starts

.home-hero {
    background: url('../img/home-website-design-services.jpg');
    height: 92vh;
    color: $pixel-white;
    position: relative;
}

.hero-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 4rem;
}

.hero-text-wrap {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 2.5rem;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.herobutton:hover {
    background-color: #FF1493;
}

.upper-p {
    text-transform: uppercase;
    font-size: 23px;
    line-height: 41px;
    font-weight: 300;
    padding-bottom: 0.5rem;
}

.home-h1 {
    font-size: 59px;
    line-height: 59px;
    font-weight: 700;
}

.home-intro {
    background: $pixel-yellow url('../img/pattern.svg') repeat-y center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10rem;
}

.home-intro-text {
    max-width: 1000px;
}

// Content Ends


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}