// Primary fonts and colors

$font-stack: futura-pt, sans-serif;
// 300 400 500
$font-stack-bold: futura-pt-bold, sans-serif;
// 700
$pixel-blue: #0065f2;
$pixel-blueAccent: #0846f3;
$pixel-darkBlue: #09133c;
$pixel-yellow: #ffc801;
$pixel-black: #0a0a0a;
$pixel-white: #fff;



@import "./navbar";
@import "./fonts";
@import "./elements";

@import "./home";
@import "./monthtomonth";
@import "./websitedesign";
@import "./graphicdesign";
@import "./aboutus";
@import "./contactus";


// The great reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pixel-white;
    font: 100% $font-stack;
    color: $pixel-black;
    line-height: 1.6;
}

section {
    padding: 5.5em 0;
}

.call-to-action {
    background-color: orange;
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 74vw;
    margin: auto;
}

.container2 {
    max-width: 64vw;
    margin: auto;
}

.row {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.column {
    float: left;
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 1em 1em;
}

.column-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-three {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    color: $pixel-white;
    padding: 5em 0;
    background-color: $pixel-darkBlue;
    border-top: 15px solid $pixel-yellow;
}

.service-header {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    margin-top: 2.2em;
    max-width: 250px;
    margin-bottom: 0.5em;
}

footer p,
footer a {
    margin: 1em 0em;
    color: $pixel-white;
    font-size: 1.25rem;

}

.quick-links {
    padding-left: 4em;
}

.quick-links li {
    list-style: none;
    margin: 0.6em 0em;
}

.copyright {
    margin-top: 1em;
    font-size: 1rem;
}

footer h4 {
    font-size: 1.2rem;
}

.footer-btn {
    color: $pixel-white;
    background-color: $pixel-darkBlue;
    border: 1px solid $pixel-white;
    padding: 0.8em 1.6em;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.25s ease-in-out;
}

.footer-btn:hover {
    background-color: $pixel-white;
    color: $pixel-darkBlue;
}

.footer-up {
    float: right;
}

.black-line {
    background: $pixel-black;
    text-align: center;
    padding: 3em 0;

    h3 {
        color: $pixel-white;
    }
}