// Primary fonts and colors

$font-stack: "proxima-nova", sans-serif;
// 400 and italic
$font-stack-bold: "proxima-nova", sans-serif;
// 700 and italic
$pixel-blue: #0065f2;
$pixel-blueAccent: #1212FF;
$pixel-darkBlue: #09133c;
$pixel-yellow: #EFFF06;
$pixel-black: #0a0a0a;
$pixel-white: #fff;
$pixel-offwhite: #ECECEC;
$pixel-gray: #181818;


@import "./navbar";
@import "./fonts";
@import "./elements";
@import "./casestudies";


@import "./home";
@import "./monthtomonth";
@import "./websitedesign";
@import "./graphicdesign";
@import "./aboutus";
@import "./contactus";


// The great reset 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pixel-white;
    font: 100% $font-stack;
    color: $pixel-black;
    line-height: 1.6;
}

section {
    padding: 6em 0;
}

.gray-section {
    background-color: $pixel-gray;
    color: $pixel-white;
    padding-bottom: 9em;
}

.gray-section-line {
    border-top: 5px solid $pixel-yellow;
    background-color: $pixel-gray;
    color: $pixel-white;
}

// section-title-yellow

.section-title-yellow {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.section-title-yellow span {
    display: inline-block;
    position: relative;
    z-index: 1;
}

h3.section-title-yellow span:after {
    background: $pixel-yellow;
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 30px;
    left: -5px;
    right: -5px;
    z-index: -1;
}

// section-title-white

.section-title-white {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.section-title-white span {
    display: inline-block;
    position: relative;
    z-index: 1;
}

h3.section-title-white span:after {
    background: rgba(255, 255, 255, 0.3);
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 30px;
    left: -5px;
    right: -5px;
    z-index: -1;
}

// Color Styling

.yellow {
    color: $pixel-yellow;
}

.blue {
    color: $pixel-blue;
}

.call-to-action {
    background-color: orange;
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 70vw;
    margin: auto;
}

.container2 {
    max-width: 64vw;
    margin: auto;
}

.row {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.portfolio-padding {
    margin-top: 3em;

}

.column {
    float: left;
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 1em 0em;
}

.column2 {
    float: left;
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.column-img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.latest-work {
    width: 35vw;
    background-color: #EFFF06;
}

.centered {
    text-align: center;
    align-content: center;
    width: 100%;
    margin-top: 3em;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-three {
    float: left;
    width: 33.33%;
}

.column-six {
    float: left;
    width: 16.5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    color: $pixel-white;
    padding: 5em 0;
    background-color: $pixel-darkBlue;
    border-top: 15px solid $pixel-yellow;
}

.service-header {
    min-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-type {
    font-size: 1.3rem;
    color: $pixel-white;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 8px;
}

.service-title {
    color: $pixel-white;
    background-color: #ffc801;
}

.width-test {
    max-width: 60%;
}

.blackbox {
    background-color: $pixel-black;
    margin-top: -20vh;
    width: 30vw;
    height: 45vh;
    color: $pixel-white;
    padding: 4em;
    border-radius: 5px;
}

#footer-logo {
    margin-top: 1em;
    max-width: 250px;
    margin-bottom: 0.5em;
}

.portfolio-logos {
    max-width: 80%;
}

footer p,
footer a {
    margin: 1em 0em;
    color: $pixel-white;
    font-size: 1.25rem;
    text-decoration: none;
}

.quick-links {
    padding-left: 4em;
}

.quick-links li {
    list-style: none;
    margin: 0.6em 0em;
}

.copyright {
    margin-top: 1em;
    font-size: 1rem;
}

footer h4 {
    font-size: 1.2rem;
}

.footer-btn {
    color: $pixel-white;
    background-color: $pixel-darkBlue;
    border: 1px solid $pixel-white;
    padding: 0.8em 1.6em;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.25s ease-in-out;
}

.footer-btn:hover {
    background-color: $pixel-white;
    color: $pixel-darkBlue;
}

.footer-up {
    float: right;
}

.black-line {
    background: $pixel-black;
    text-align: center;
    padding: 3em 0;

    h3 {
        color: $pixel-white;
    }
}